In [1]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
# Loading data
file_path = Path("../../stock_data.csv")
df_stock = pd.read_csv(file_path)
df_stock.head()

        Open       High        Low      Close  Adj Close   Volume   Name
0  87.300003  87.300003  64.904999  71.699997  71.699997  33947.0  MKDTY
1  72.900002  72.900002  62.250000  65.550003  65.550003  13607.0  MKDTY
2  63.299999  66.750000  63.299999  65.250000  65.250000   4427.0  MKDTY
3  65.550003  72.000000  63.750000  67.650002  67.650002   9933.0  MKDTY
4  68.250000  72.419998  68.099998  72.000000  72.000000   8347.0  MKDTY

In [7]:
# List all the unique values in the Name column
pd.unique(df_stock['Name'])

array(['MKDTY', 'INDO', 'MNPR', ..., 'VIGL', 'SCRM', 'CITE'], dtype=object)

In [9]:
# List and count all of the values in the Name column
df_stock.Name.value_counts()

INTZ    7672
ALRS    4943
EVO     4721
WTRE    3884
ABST    3456
        ...
LASE      25
PRME      11
AQU       11
MBLY       7
SVII       5
Name: Name, Length: 1577, dtype: int64