# LSTM - By Industry

In [1]:
# Import dependencies
import numpy as np
import pandas as pd
import datetime

In [2]:
# Import learning model dependencies
import tensorflow as tf
from tensorflow.keras.layers import Dense, LSTM
from tensorflow.keras.models import Sequential
from sklearn.preprocessing import MinMaxScaler
pd.options.mode.chained_assignment = None
tf.random.set_seed(0)

In [3]:
# Establish connection to AWS server
from config import db_password
import psycopg2
connection = psycopg2.connect(
    host = 'launch-it-1.cyo6pvehqvyz.us-east-1.rds.amazonaws.com',
    port = 5432,
    user = 'postgres',
    password = db_password,
    database='launch-it-1'
    )
cursor=connection.cursor()

In [4]:
# Pull SQL dataset from database
sql = """
SELECT * FROM launchit  
"""

# Build dataframe from SQL data
stock_data = pd.read_sql(sql, con=connection)
stock_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,TCKR
0,2019-12-31,87.300003,87.300003,64.904999,71.699997,71.699997,33947.0,MKDTY
1,2020-01-02,72.900002,72.900002,62.250000,65.550003,65.550003,13607.0,MKDTY
2,2020-01-03,63.299999,66.750000,63.299999,65.250000,65.250000,4427.0,MKDTY
3,2020-01-06,65.550003,72.000000,63.750000,67.650002,67.650002,9933.0,MKDTY
4,2020-01-07,68.250000,72.419998,68.099998,72.000000,72.000000,8347.0,MKDTY

In [5]:
# Pull SQL dataset from database
sql = """
SELECT * FROM launchit_info 
"""

# Build dataframe from SQL data
info_data = pd.read_sql(sql, con=connection)
info_data.head()

,TCKR,sector,industry,country,growth_rate,debtToEquity,currentRatio,forwardPE
0,MKDTY,Basic Materials,Chemicals,China,-0.671,NaN,0.928,-0.002444
1,INDO,Energy,Oil & Gas E&P,Indonesia,1.206,12.272,2.707,-9.695652
2,MNPR,Healthcare,Biotechnology,United States,NaN,0.167,7.508,-2.596638
3,OCFT,Technology,Software—Application,China,0.004,9.305,1.241,-3.550454
4,SPT,Technology,Software—Application,United States,0.330,16.084,1.886,-3289.500000

In [6]:
# Merge the stock_data and info_data
data_all = stock_data.merge(info_data, how='left', left_on='TCKR', right_on='TCKR')
data_all

,Date,Open,High,Low,Close,Adj Close,Volume,TCKR,sector,industry,country,growth_rate,debtToEquity,currentRatio,forwardPE
0,2019-12-31,87.300003,87.300003,64.904999,71.699997,71.699997,33947.0,MKDTY,Basic Materials,Chemicals,China,-0.671,NaN,0.928,-0.002444
1,2020-01-02,72.900002,72.900002,62.250000,65.550003,65.550003,13607.0,MKDTY,Basic Materials,Chemicals,China,-0.671,NaN,0.928,-0.002444
2,2020-01-03,63.299999,66.750000,63.299999,65.250000,65.250000,4427.0,MKDTY,Basic Materials,Chemicals,China,-0.671,NaN,0.928,-0.002444
3,2020-01-06,65.550003,72.000000,63.750000,67.650002,67.650002,9933.0,MKDTY,Basic Materials,Chemicals,China,-0.671,NaN,0.928,-0.002444
4,2020-01-07,68.250000,72.419998,68.099998,72.000000,72.000000,8347.0,MKDTY,Basic Materials,Chemicals,China,-0.671,NaN,0.928,-0.002444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671669,2022-11-08,10.270000,10.270000,10.270000,10.270000,10.270000,1500.0,CITE,Financial Services,Shell Companies,United States,NaN,NaN,9.277,NaN
671670,2022-11-09,10.260000,10.260000,10.230000,10.230000,10.230000,3500.0,CITE,Financial Services,Shell Companies,United States,NaN,NaN,9.277,NaN
671671,2022-11-10,10.230000,10.280000,10.230000,10.280000,10.280000,27400.0,CITE,Financial Services,Shell Companies,United States,NaN,NaN,9.277,NaN
671672,2022-11-11,10.280000,10.280000,10.280000,10.280000,10.280000,0.0,CITE,Financial Services,Shell Companies,United States,NaN,NaN,9.277,NaN
671673,2022-11-14,10.240000,10.240400,10.240000,10.240000,10.240000,10300.0,CITE,Financial Services,Shell Companies,United States,NaN,NaN,9.277,NaN

In [7]:
# Put the industry names in a list.
industries = pd.unique(data_all['industry']).tolist()
industries

['Chemicals',
 'Oil & Gas E&P',
 'Biotechnology',
 'Software—Application',
 'Aerospace & Defense',
 'Capital Markets',
 'Auto & Truck Dealerships',
 'REIT—Retail',
 'Computer Hardware',
 'Semiconductors',
 'Rental & Leasing Services',
 'Internet Content & Information',
 'Specialty Retail',
 'Medical Devices',
 'Diagnostics & Research',
 'Banks—Regional',
 'Real Estate Services',
 'Medical Care Facilities',
 'Education & Training Services',
 'Packaged Foods',
 'Health Information Services',
 'Insurance Brokers',
 'Credit Services',
 'Leisure',
 None,
 'Medical Instruments & Supplies',
 'Software—Infrastructure',
 'Information Technology Services',
 'Asset Management',
 'Restaurants',
 'Drug Manufacturers—Specialty & Generic',
 'Oil & Gas Drilling',
 'Electronic Gaming & Multimedia',
 'Solar',
 '',
 'Shell Companies',
 'Broadcasting',
 'Luxury Goods',
 'Communication Equipment',
 'Grocery Stores',
 'Internet Retail',
 'Specialty Chemicals',
 'REIT—Office',
 'Staffing & Employment Services',
 'Metal Fabrication',
 'Specialty Industrial Machinery',
 'Tobacco',
 'Insurance—Property & Casualty',
 'Apparel Manufacturing',
 'Coking Coal',
 'Utilities—Regulated Gas',
 'Personal Services',
 'Insurance—Life',
 'Travel Services',
 'Farm & Heavy Construction Machinery',
 'Recreational Vehicles',
 'Gambling',
 'Other Precious Metals & Mining',
 'Mortgage Finance',
 'Trucking',
 'REIT—Diversified',
 'Food Distribution',
 'Electronic Components',
 'Packaging & Containers',
 'Furnishings, Fixtures & Appliances',
 'Auto Manufacturers',
 'Real Estate—Development',
 'Farm Products',
 'Waste Management',
 'Insurance—Specialty',
 'Financial Data & Stock Exchanges',
 'Building Products & Equipment',
 'Telecom Services',
 'Entertainment',
 'Advertising Agencies',
 'Pharmaceutical Retailers',
 'REIT—Mortgage',
 'Beverages—Wineries & Distilleries',
 'Banks—Diversified',
 'Pollution & Treatment Controls',
 'Other Industrial Metals & Mining',
 'Apparel Retail',
 'Home Improvement Retail',
 'Utilities—Renewable',
 'Healthcare Plans',
 'Utilities—Regulated Water',
 'Beverages—Non-Alcoholic',
 'Specialty Business Services',
 'Footwear & Accessories',
 'Household & Personal Products',
 'Electronics & Computer Distribution',
 'Industrial Distribution',
 'Lodging',
 'Consulting Services',
 'Insurance—Diversified',
 'Consumer Electronics',
 'Airlines',
 'REIT—Specialty',
 'Electrical Equipment & Parts',
 'Engineering & Construction',
 'Marine Shipping',
 'Steel',
 'Utilities—Diversified',
 'Residential Construction',
 'Auto Parts',
 'Copper',
 'Scientific & Technical Instruments',
 'Oil & Gas Equipment & Services',
 'Gold',
 'Railroads',
 'Security & Protection Services']

In [8]:
# Remove 'None' from industries list
industries.remove(None)
industries

['Chemicals',
 'Oil & Gas E&P',
 'Biotechnology',
 'Software—Application',
 'Aerospace & Defense',
 'Capital Markets',
 'Auto & Truck Dealerships',
 'REIT—Retail',
 'Computer Hardware',
 'Semiconductors',
 'Rental & Leasing Services',
 'Internet Content & Information',
 'Specialty Retail',
 'Medical Devices',
 'Diagnostics & Research',
 'Banks—Regional',
 'Real Estate Services',
 'Medical Care Facilities',
 'Education & Training Services',
 'Packaged Foods',
 'Health Information Services',
 'Insurance Brokers',
 'Credit Services',
 'Leisure',
 'Medical Instruments & Supplies',
 'Software—Infrastructure',
 'Information Technology Services',
 'Asset Management',
 'Restaurants',
 'Drug Manufacturers—Specialty & Generic',
 'Oil & Gas Drilling',
 'Electronic Gaming & Multimedia',
 'Solar',
 '',
 'Shell Companies',
 'Broadcasting',
 'Luxury Goods',
 'Communication Equipment',
 'Grocery Stores',
 'Internet Retail',
 'Specialty Chemicals',
 'REIT—Office',
 'Staffing & Employment Services',
 'Metal Fabrication',
 'Specialty Industrial Machinery',
 'Tobacco',
 'Insurance—Property & Casualty',
 'Apparel Manufacturing',
 'Coking Coal',
 'Utilities—Regulated Gas',
 'Personal Services',
 'Insurance—Life',
 'Travel Services',
 'Farm & Heavy Construction Machinery',
 'Recreational Vehicles',
 'Gambling',
 'Other Precious Metals & Mining',
 'Mortgage Finance',
 'Trucking',
 'REIT—Diversified',
 'Food Distribution',
 'Electronic Components',
 'Packaging & Containers',
 'Furnishings, Fixtures & Appliances',
 'Auto Manufacturers',
 'Real Estate—Development',
 'Farm Products',
 'Waste Management',
 'Insurance—Specialty',
 'Financial Data & Stock Exchanges',
 'Building Products & Equipment',
 'Telecom Services',
 'Entertainment',
 'Advertising Agencies',
 'Pharmaceutical Retailers',
 'REIT—Mortgage',
 'Beverages—Wineries & Distilleries',
 'Banks—Diversified',
 'Pollution & Treatment Controls',
 'Other Industrial Metals & Mining',
 'Apparel Retail',
 'Home Improvement Retail',
 'Utilities—Renewable',
 'Healthcare Plans',
 'Utilities—Regulated Water',
 'Beverages—Non-Alcoholic',
 'Specialty Business Services',
 'Footwear & Accessories',
 'Household & Personal Products',
 'Electronics & Computer Distribution',
 'Industrial Distribution',
 'Lodging',
 'Consulting Services',
 'Insurance—Diversified',
 'Consumer Electronics',
 'Airlines',
 'REIT—Specialty',
 'Electrical Equipment & Parts',
 'Engineering & Construction',
 'Marine Shipping',
 'Steel',
 'Utilities—Diversified',
 'Residential Construction',
 'Auto Parts',
 'Copper',
 'Scientific & Technical Instruments',
 'Oil & Gas Equipment & Services',
 'Gold',
 'Railroads',
 'Security & Protection Services']

In [9]:
data_all = data_all.set_index(['Date' , 'industry'])
data_all

,,Open,High,Low,Close,Adj Close,Volume,TCKR,sector,country,growth_rate,debtToEquity,currentRatio,forwardPE
Date,industry,,,,,,,,,,,,,
2019-12-31,Chemicals,87.300003,87.300003,64.904999,71.699997,71.699997,33947.0,MKDTY,Basic Materials,China,-0.671,NaN,0.928,-0.002444
2020-01-02,Chemicals,72.900002,72.900002,62.250000,65.550003,65.550003,13607.0,MKDTY,Basic Materials,China,-0.671,NaN,0.928,-0.002444
2020-01-03,Chemicals,63.299999,66.750000,63.299999,65.250000,65.250000,4427.0,MKDTY,Basic Materials,China,-0.671,NaN,0.928,-0.002444
2020-01-06,Chemicals,65.550003,72.000000,63.750000,67.650002,67.650002,9933.0,MKDTY,Basic Materials,China,-0.671,NaN,0.928,-0.002444
2020-01-07,Chemicals,68.250000,72.419998,68.099998,72.000000,72.000000,8347.0,MKDTY,Basic Materials,China,-0.671,NaN,0.928,-0.002444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-08,Shell Companies,10.270000,10.270000,10.270000,10.270000,10.270000,1500.0,CITE,Financial Services,United States,NaN,NaN,9.277,NaN
2022-11-09,Shell Companies,10.260000,10.260000,10.230000,10.230000,10.230000,3500.0,CITE,Financial Services,United States,NaN,NaN,9.277,NaN
2022-11-10,Shell Companies,10.230000,10.280000,10.230000,10.280000,10.280000,27400.0,CITE,Financial Services,United States,NaN,NaN,9.277,NaN
2022-11-11,Shell Companies,10.280000,10.280000,10.280000,10.280000,10.280000,0.0,CITE,Financial Services,United States,NaN,NaN,9.277,NaN
2022-11-14,Shell Companies,10.240000,10.240400,10.240000,10.240000,10.240000,10300.0,CITE,Financial Services,United States,NaN,NaN,9.277,NaN

In [10]:
# List all of the column names
data_all.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'TCKR', 'sector',
       'country', 'growth_rate', 'debtToEquity', 'currentRatio', 'forwardPE'],
      dtype='object')

In [11]:
# Create a new data frame grouped by Industry and taking the median of numeric values

# Make a new copy of the data_all 
industry_data = data_all.copy()

# Drop unneeded columns
industry_data = industry_data.drop(labels=['TCKR', 'sector', 'country', 'growth_rate', 'debtToEquity',
       'currentRatio', 'forwardPE'], axis=1)

# sort the data using sort_index()
industry_data.sort_index()
industry_data

,,Open,High,Low,Close,Adj Close,Volume
Date,industry,,,,,,
2019-12-31,Chemicals,87.300003,87.300003,64.904999,71.699997,71.699997,33947.0
2020-01-02,Chemicals,72.900002,72.900002,62.250000,65.550003,65.550003,13607.0
2020-01-03,Chemicals,63.299999,66.750000,63.299999,65.250000,65.250000,4427.0
2020-01-06,Chemicals,65.550003,72.000000,63.750000,67.650002,67.650002,9933.0
2020-01-07,Chemicals,68.250000,72.419998,68.099998,72.000000,72.000000,8347.0
...,...,...,...,...,...,...,...
2022-11-08,Shell Companies,10.270000,10.270000,10.270000,10.270000,10.270000,1500.0
2022-11-09,Shell Companies,10.260000,10.260000,10.230000,10.230000,10.230000,3500.0
2022-11-10,Shell Companies,10.230000,10.280000,10.230000,10.280000,10.280000,27400.0
2022-11-11,Shell Companies,10.280000,10.280000,10.280000,10.280000,10.280000,0.0
2022-11-14,Shell Companies,10.240000,10.240400,10.240000,10.240000,10.240000,10300.0

In [12]:
# Group by Industry and take the median of all numeric values
# industry_data = industry_data.groupby(level='Date').median()

industry_data = industry_data.groupby(level=[0,1]).median()
industry_data

                                           Open       High        Low  \
Date       industry
1992-05-21 Software—Infrastructure    20.000000  20.000000  17.750000
1992-05-22 Software—Infrastructure    18.000000  18.500000  18.000000
1992-05-26 Software—Infrastructure    18.000000  18.500000  16.500000
1992-05-27 Software—Infrastructure    17.500000  17.500000  16.000000
1992-05-28 Software—Infrastructure    16.500000  17.500000  16.500000
...                                         ...        ...        ...
2022-11-14 Utilities—Diversified      11.880000  12.710000  11.880000
           Utilities—Regulated Gas    51.000000  51.145000  49.610001
           Utilities—Regulated Water  17.450001  17.655001  16.950001
           Utilities—Renewable         9.380000   9.829950   9.060000
           Waste Management           37.840000  38.064999  36.660000

                                          Close  Adj Close     Volume
Date       industry
1992-05-21 Software—Infrastructure    18.000000  18.000000   248200.0
1992-05-22 Software—Infrastructure    18.000000  18.000000    69150.0
1992-05-26 Software—Infrastructure    17.000000  17.000000    84700.0
1992-05-27 Software—Infrastructure    17.000000  17.000000    17300.0
1992-05-28 Software—Infrastructure    17.000000  17.000000    40200.0
...                                         ...        ...        ...
2022-11-14 Utilities—Diversified      12.410000  12.410000   435482.0
           Utilities—Regulated Gas    49.810001  49.810001  1154815.0
           Utilities—Regulated Water  17.540001  17.540001   392709.0
           Utilities—Renewable         9.725000   9.725000   263651.0
           Waste Management           37.219999  37.219999   781582.5

[89368 rows x 6 columns]

In [13]:
industry_data.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [14]:
# # Obtain CSV for Monika
# industry_data

# # Reset the index
# industry_data.reset_index(inplace=True)

# # Save as CSV file
# industry_data.to_csv('industry_data.csv', header=True, sep=',')

In [15]:
# Select one of the industries from this list
industries

['Chemicals',
 'Oil & Gas E&P',
 'Biotechnology',
 'Software—Application',
 'Aerospace & Defense',
 'Capital Markets',
 'Auto & Truck Dealerships',
 'REIT—Retail',
 'Computer Hardware',
 'Semiconductors',
 'Rental & Leasing Services',
 'Internet Content & Information',
 'Specialty Retail',
 'Medical Devices',
 'Diagnostics & Research',
 'Banks—Regional',
 'Real Estate Services',
 'Medical Care Facilities',
 'Education & Training Services',
 'Packaged Foods',
 'Health Information Services',
 'Insurance Brokers',
 'Credit Services',
 'Leisure',
 'Medical Instruments & Supplies',
 'Software—Infrastructure',
 'Information Technology Services',
 'Asset Management',
 'Restaurants',
 'Drug Manufacturers—Specialty & Generic',
 'Oil & Gas Drilling',
 'Electronic Gaming & Multimedia',
 'Solar',
 '',
 'Shell Companies',
 'Broadcasting',
 'Luxury Goods',
 'Communication Equipment',
 'Grocery Stores',
 'Internet Retail',
 'Specialty Chemicals',
 'REIT—Office',
 'Staffing & Employment Services',
 'Metal Fabrication',
 'Specialty Industrial Machinery',
 'Tobacco',
 'Insurance—Property & Casualty',
 'Apparel Manufacturing',
 'Coking Coal',
 'Utilities—Regulated Gas',
 'Personal Services',
 'Insurance—Life',
 'Travel Services',
 'Farm & Heavy Construction Machinery',
 'Recreational Vehicles',
 'Gambling',
 'Other Precious Metals & Mining',
 'Mortgage Finance',
 'Trucking',
 'REIT—Diversified',
 'Food Distribution',
 'Electronic Components',
 'Packaging & Containers',
 'Furnishings, Fixtures & Appliances',
 'Auto Manufacturers',
 'Real Estate—Development',
 'Farm Products',
 'Waste Management',
 'Insurance—Specialty',
 'Financial Data & Stock Exchanges',
 'Building Products & Equipment',
 'Telecom Services',
 'Entertainment',
 'Advertising Agencies',
 'Pharmaceutical Retailers',
 'REIT—Mortgage',
 'Beverages—Wineries & Distilleries',
 'Banks—Diversified',
 'Pollution & Treatment Controls',
 'Other Industrial Metals & Mining',
 'Apparel Retail',
 'Home Improvement Retail',
 'Utilities—Renewable',
 'Healthcare Plans',
 'Utilities—Regulated Water',
 'Beverages—Non-Alcoholic',
 'Specialty Business Services',
 'Footwear & Accessories',
 'Household & Personal Products',
 'Electronics & Computer Distribution',
 'Industrial Distribution',
 'Lodging',
 'Consulting Services',
 'Insurance—Diversified',
 'Consumer Electronics',
 'Airlines',
 'REIT—Specialty',
 'Electrical Equipment & Parts',
 'Engineering & Construction',
 'Marine Shipping',
 'Steel',
 'Utilities—Diversified',
 'Residential Construction',
 'Auto Parts',
 'Copper',
 'Scientific & Technical Instruments',
 'Oil & Gas Equipment & Services',
 'Gold',
 'Railroads',
 'Security & Protection Services']

In [16]:
# Reset the index
industry_data.reset_index(inplace=True)

# Set the date column as the index
industry_data = industry_data.set_index('Date')

# Isolate just 1 industry to attempt LSTM process
df = industry_data[industry_data.industry == 'Oil & Gas E&P']
df

,industry,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2016-11-16,Oil & Gas E&P,39.750000,39.750000,38.009998,39.000000,38.913258,12600.0
2016-11-17,Oil & Gas E&P,39.000000,39.000000,35.000000,36.990002,36.907730,28300.0
2016-11-18,Oil & Gas E&P,38.950001,39.750000,34.750000,39.750000,39.661587,1100.0
2016-11-21,Oil & Gas E&P,40.000000,40.000000,35.060001,40.000000,39.911034,2500.0
2016-11-22,Oil & Gas E&P,40.000000,41.000000,36.000000,41.000000,40.908806,4100.0
...,...,...,...,...,...,...,...
2022-11-08,Oil & Gas E&P,23.989999,24.500000,23.210001,24.315001,24.315001,474150.0
2022-11-09,Oil & Gas E&P,23.974999,24.259999,23.170000,23.700001,23.700001,480900.0
2022-11-10,Oil & Gas E&P,24.275000,24.375000,23.795001,24.205000,24.205000,514900.0
2022-11-11,Oil & Gas E&P,24.520000,25.240001,24.405001,24.969999,24.969999,635100.0
2022-11-14,Oil & Gas E&P,24.785001,25.409999,24.539999,24.855000,24.855000,368985.0

In [17]:
# # Isolate just 1 Industry to attempt LSTM process
# df = industry_data.filter(like = 'Oil & Gas E&P', axis=0)

# # This method only works if the industry column is still incorporated into the index prior to resetting it.
# # Alternatively - just reset the index after the groupby function groups by industry and date.

# # Reset the index
# df.reset_index(inplace=True)

# # Set the date column as the index
# df = df.set_index('Date')
# df

In [18]:
## Run this to generate visualization of the industry of interest

# # download the data
# y = df['Adj Close'].fillna(method='ffill')
# y = y.values.reshape(-1, 1)

# # scale the data
# scaler = MinMaxScaler(feature_range=(0, 1))
# scaler = scaler.fit(y)
# y = scaler.transform(y)

# # generate the input and output sequences
# n_lookback = 365  # length of input sequences (lookback period)
# n_forecast = 180  # length of output sequences (forecast period)

# X = []
# Y = []

# for i in range(n_lookback, len(y) - n_forecast + 1):
#     X.append(y[i - n_lookback: i])
#     Y.append(y[i: i + n_forecast])

# X = np.array(X)
# Y = np.array(Y)

# # fit the model
# model = Sequential()
# model.add(LSTM(units=50, return_sequences=True, input_shape=(n_lookback, 1)))
# model.add(LSTM(units=50))
# model.add(Dense(n_forecast))

# model.compile(loss='mean_squared_error', optimizer='adam')
# model.fit(X, Y, epochs=3, batch_size=32, verbose=0)

# # generate the forecasts
# X_ = y[- n_lookback:]  # last available input sequence
# X_ = X_.reshape(1, n_lookback, 1)

# Y_ = model.predict(X_).reshape(-1, 1)
# Y_ = scaler.inverse_transform(Y_)

# # organize the results in a data frame
# df_past = df[['Close']].reset_index()
# df_past.rename(columns={'index': 'Date', 'Close': 'Actual'}, inplace=True)
# df_past['Date'] = pd.to_datetime(df_past['Date'])
# df_past['Forecast'] = np.nan
# df_past['Forecast'].iloc[-1] = df_past['Actual'].iloc[-1]

# df_future = pd.DataFrame(columns=['Date', 'Actual', 'Forecast'])
# df_future['Date'] = pd.date_range(start=df_past['Date'].iloc[-1] + pd.Timedelta(days=1), periods=n_forecast)
# df_future['Forecast'] = Y_.flatten()
# df_future['Actual'] = np.nan

# results = df_past.append(df_future).set_index('Date')

# # plot the results
# results.plot(title='Oil & Gas E&P', figsize=(16,8))

In [19]:
# Create a function to run the LSTM learning model for each industry
def learning_model(df):
    # download the data
    y = df['Adj Close'].fillna(method='ffill')
    y = y.values.reshape(-1, 1)

    # scale the data
    scaler = MinMaxScaler(feature_range=(0, 1))
    scaler = scaler.fit(y)
    y = scaler.transform(y)

    # generate the input and output sequences
    n_lookback = 365  # length of input sequences (lookback period)
    n_forecast = 180  # length of output sequences (forecast period)

    X = []
    Y = []

    for i in range(n_lookback, len(y) - n_forecast + 1):
        X.append(y[i - n_lookback: i])
        Y.append(y[i: i + n_forecast])

    X = np.array(X)
    Y = np.array(Y)

    # fit the model
    model = Sequential()
    model.add(LSTM(units=50, return_sequences=True, input_shape=(n_lookback, 1)))
    model.add(LSTM(units=50))
    model.add(Dense(n_forecast))

    model.compile(loss='mean_squared_error', optimizer='adam')
    model.fit(X, Y, epochs=3, batch_size=32, verbose=0)

    # generate the forecasts
    X_ = y[- n_lookback:]  # last available input sequence
    X_ = X_.reshape(1, n_lookback, 1)

    Y_ = model.predict(X_).reshape(-1, 1)
    Y_ = scaler.inverse_transform(Y_)

    # organize the results in a data frame
    df_past = df[['Close']].reset_index()
    df_past.rename(columns={'index': 'Date', 'Close': 'Actual'}, inplace=True)
    df_past['Date'] = pd.to_datetime(df_past['Date'])
    df_past['Forecast'] = np.nan
    df_past['Forecast'].iloc[-1] = df_past['Actual'].iloc[-1]

    df_future = pd.DataFrame(columns=['Date', 'Actual', 'Forecast'])
    df_future['Date'] = pd.date_range(start=df_past['Date'].iloc[-1] + pd.Timedelta(days=1), periods=n_forecast)
    df_future['Forecast'] = Y_.flatten()
    df_future['Actual'] = np.nan

    results = df_past.append(df_future).set_index('Date')
    
    # Calculate rate of return on investment based on projected future stock price
    return_rate = (results['Forecast'][-1] - df['Adj Close'][-1]) / df['Adj Close'][-1]
    
    return return_rate

    # plot the results - optional
    #results.plot(title='VIST', figsize=(16,8))

In [20]:
# Run learning_model on industry dataframe
learning_model(df)

1/1 [==============================] - 1s 1s/step

-0.385787186699468

In [21]:
# Create new dataframe to house all company stock symbols and their associated growth rates
industry_roi_df = pd.DataFrame(industries, columns=['Industry'])

# Iterate through each unique stock symbol and filter the historical stock data for each company
for index, industry in industry_roi_df.iterrows():
    industry = industry.values[0]
    industry_df = industry_data[industry_data.industry == industry]
    print(f'The index currently running is {index}, which is the {industry} industry.')
    
    # Run the learning model function for each company
    try:
        industry_roi_df.loc[index, 'ROI'] = learning_model(industry_df)
    except ValueError:
        industry_roi_df.loc[index, 'ROI'] = np.nan

The index currently running is 0, which is the Chemicals industry.
1/1 [==============================] - 1s 1s/step
The index currently running is 1, which is the Oil & Gas E&P industry.
1/1 [==============================] - 1s 907ms/step
The index currently running is 2, which is the Biotechnology industry.
1/1 [==============================] - 1s 1s/step
The index currently running is 3, which is the Software—Application industry.
WARNING:tensorflow:5 out of the last 5 calls to <function Model.make_predict_function.<locals>.predict_function at 0x0000020A6B2E2E58> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
1/1 [==============================] - 1s 914ms/step
The index currently running is 4, which is the Aerospace & Defense industry.
WARNING:tensorflow:6 out of the last 6 calls to <function Model.make_predict_function.<locals>.predict_function at 0x0000020A6BA7B798> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
1/1 [==============================] - 1s 904ms/step
The index currently running is 5, which is the Capital Markets industry.
1/1 [==============================] - 1s 915ms/step
The index currently running is 6, which is the Auto & Truck Dealerships industry.
1/1 [==============================] - 1s 1s/step
The index currently running is 7, which is the REIT—Retail industry.
1/1 [==============================] - 1s 902ms/step
The index currently running is 8, which is the Computer Hardware industry.
1/1 [==============================] - 1s 1s/step
The index currently running is 9, which is the Semiconductors industry.
1/1 [==============================] - 1s 902ms/step
The index currently running is 10, which is the Rental & Leasing Services industry.
1/1 [==============================] - 1s 1s/step
The index currently running is 11, which is the Internet Content & Information industry.
1/1 [==============================] - 1s 904ms/step
The index currently running is 12, which is the Specialty Retail industry.
1/1 [==============================] - 1s 916ms/step
The index currently running is 13, which is the Medical Devices industry.
1/1 [==============================] - 1s 899ms/step
The index currently running is 14, which is the Diagnostics & Research industry.
1/1 [==============================] - 1s 906ms/step
The index currently running is 15, which is the Banks—Regional industry.
1/1 [==============================] - 1s 897ms/step
The index currently running is 16, which is the Real Estate Services industry.
1/1 [==============================] - 1s 997ms/step
The index currently running is 17, which is the Medical Care Facilities industry.
1/1 [==============================] - 1s 1s/step
The index currently running is 18, which is the Education & Training Services industry.
1/1 [==============================] - 1s 1s/step
The index currently running is 19, which is the Packaged Foods industry.
1/1 [==============================] - 1s 903ms/step
The index currently running is 20, which is the Health Information Services industry.
1/1 [==============================] - 1s 909ms/step
The index currently running is 21, which is the Insurance Brokers industry.
1/1 [==============================] - 1s 963ms/step
The index currently running is 22, which is the Credit Services industry.
1/1 [==============================] - 1s 919ms/step
The index currently running is 23, which is the Leisure industry.
1/1 [==============================] - 1s 900ms/step
The index currently running is 24, which is the Medical Instruments & Supplies industry.
1/1 [==============================] - 1s 901ms/step
The index currently running is 25, which is the Software—Infrastructure industry.
1/1 [==============================] - 1s 901ms/step
The index currently running is 26, which is the Information Technology Services industry.
1/1 [==============================] - 1s 904ms/step
The index currently running is 27, which is the Asset Management industry.
1/1 [==============================] - 1s 1s/step
The index currently running is 28, which is the Restaurants industry.
1/1 [==============================] - 1s 967ms/step
The index currently running is 29, which is the Drug Manufacturers—Specialty & Generic industry.
1/1 [==============================] - 2s 2s/step
The index currently running is 30, which is the Oil & Gas Drilling industry.
1/1 [==============================] - 1s 1s/step
The index currently running is 31, which is the Electronic Gaming & Multimedia industry.
1/1 [==============================] - 1s 1s/step
The index currently running is 32, which is the Solar industry.
1/1 [==============================] - 1s 1s/step
The index currently running is 33, which is the  industry.
1/1 [==============================] - 1s 908ms/step
The index currently running is 34, which is the Shell Companies industry.
1/1 [==============================] - 1s 1s/step
The index currently running is 35, which is the Broadcasting industry.
1/1 [==============================] - 1s 1s/step
The index currently running is 36, which is the Luxury Goods industry.
1/1 [==============================] - 2s 2s/step
The index currently running is 37, which is the Communication Equipment industry.
1/1 [==============================] - 1s 1s/step
The index currently running is 38, which is the Grocery Stores industry.
1/1 [==============================] - 2s 2s/step
The index currently running is 39, which is the Internet Retail industry.
1/1 [==============================] - 1s 1s/step
The index currently running is 40, which is the Specialty Chemicals industry.
1/1 [==============================] - 1s 1s/step
The index currently running is 41, which is the REIT—Office industry.
1/1 [==============================] - 1s 947ms/step
The index currently running is 42, which is the Staffing & Employment Services industry.
1/1 [==============================] - 1s 981ms/step
The index currently running is 43, which is the Metal Fabrication industry.
1/1 [==============================] - 2s 2s/step
The index currently running is 44, which is the Specialty Industrial Machinery industry.
1/1 [==============================] - 1s 1s/step
The index currently running is 45, which is the Tobacco industry.
1/1 [==============================] - 2s 2s/step
The index currently running is 46, which is the Insurance—Property & Casualty industry.
1/1 [==============================] - 2s 2s/step
The index currently running is 47, which is the Apparel Manufacturing industry.
1/1 [==============================] - 1s 1s/step
The index currently running is 48, which is the Coking Coal industry.
1/1 [==============================] - 1s 954ms/step
The index currently running is 49, which is the Utilities—Regulated Gas industry.
1/1 [==============================] - 1s 1s/step
The index currently running is 50, which is the Personal Services industry.
The index currently running is 51, which is the Insurance—Life industry.
The index currently running is 52, which is the Travel Services industry.
The index currently running is 53, which is the Farm & Heavy Construction Machinery industry.
The index currently running is 54, which is the Recreational Vehicles industry.

1/1 [==============================] - 1s 1s/step
The index currently running is 55, which is the Gambling industry.
1/1 [==============================] - 1s 1s/step
The index currently running is 56, which is the Other Precious Metals & Mining industry.
The index currently running is 57, which is the Mortgage Finance industry.
1/1 [==============================] - 2s 2s/step
The index currently running is 58, which is the Trucking industry.
The index currently running is 59, which is the REIT—Diversified industry.
1/1 [==============================] - 1s 1s/step
The index currently running is 60, which is the Food Distribution industry.
The index currently running is 61, which is the Electronic Components industry.
The index currently running is 62, which is the Packaging & Containers industry.
1/1 [==============================] - 1s 1s/step
The index currently running is 63, which is the Furnishings, Fixtures & Appliances industry.
1/1 [==============================] - 2s 2s/step
The index currently running is 64, which is the Auto Manufacturers industry.
1/1 [==============================] - 1s 951ms/step
The index currently running is 65, which is the Real Estate—Development industry.
1/1 [==============================] - 1s 883ms/step
The index currently running is 66, which is the Farm Products industry.
1/1 [==============================] - 1s 1s/step
The index currently running is 67, which is the Waste Management industry.
1/1 [==============================] - 1s 898ms/step
The index currently running is 68, which is the Insurance—Specialty industry.
1/1 [==============================] - 1s 1s/step
The index currently running is 69, which is the Financial Data & Stock Exchanges industry.
1/1 [==============================] - 1s 1s/step
The index currently running is 70, which is the Building Products & Equipment industry.
1/1 [==============================] - 1s 1s/step
The index currently running is 71, which is the Telecom Services industry.
1/1 [==============================] - 1s 981ms/step
The index currently running is 72, which is the Entertainment industry.
1/1 [==============================] - 1s 1s/step
The index currently running is 73, which is the Advertising Agencies industry.
1/1 [==============================] - 1s 1s/step
The index currently running is 74, which is the Pharmaceutical Retailers industry.
1/1 [==============================] - 1s 928ms/step
The index currently running is 75, which is the REIT—Mortgage industry.
1/1 [==============================] - 1s 905ms/step
The index currently running is 76, which is the Beverages—Wineries & Distilleries industry.
The index currently running is 77, which is the Banks—Diversified industry.
The index currently running is 78, which is the Pollution & Treatment Controls industry.
The index currently running is 79, which is the Other Industrial Metals & Mining industry.
The index currently running is 80, which is the Apparel Retail industry.
The index currently running is 81, which is the Home Improvement Retail industry.
The index currently running is 82, which is the Utilities—Renewable industry.
The index currently running is 83, which is the Healthcare Plans industry.
The index currently running is 84, which is the Utilities—Regulated Water industry.
The index currently running is 85, which is the Beverages—Non-Alcoholic industry.
The index currently running is 86, which is the Specialty Business Services industry.
The index currently running is 87, which is the Footwear & Accessories industry.
The index currently running is 88, which is the Household & Personal Products industry.
The index currently running is 89, which is the Electronics & Computer Distribution industry.
The index currently running is 90, which is the Industrial Distribution industry.
The index currently running is 91, which is the Lodging industry.
The index currently running is 92, which is the Consulting Services industry.
The index currently running is 93, which is the Insurance—Diversified industry.
The index currently running is 94, which is the Consumer Electronics industry.
The index currently running is 95, which is the Airlines industry.
The index currently running is 96, which is the REIT—Specialty industry.
The index currently running is 97, which is the Electrical Equipment & Parts industry.
The index currently running is 98, which is the Engineering & Construction industry.
The index currently running is 99, which is the Marine Shipping industry.
The index currently running is 100, which is the Steel industry.
The index currently running is 101, which is the Utilities—Diversified industry.
The index currently running is 102, which is the Residential Construction industry.
The index currently running is 103, which is the Auto Parts industry.
The index currently running is 104, which is the Copper industry.
The index currently running is 105, which is the Scientific & Technical Instruments industry.
The index currently running is 106, which is the Oil & Gas Equipment & Services industry.
The index currently running is 107, which is the Gold industry.
The index currently running is 108, which is the Railroads industry.
The index currently running is 109, which is the Security & Protection Services industry.

In [27]:
# Show the industry_roi_df dataframe
industry_roi_df

                               Industry         ROI
0                             Chemicals  184.163320
1                         Oil & Gas E&P   -0.446326
2                         Biotechnology    0.014600
3                  Software—Application    1.000070
4                   Aerospace & Defense    0.509955
..                                  ...         ...
105  Scientific & Technical Instruments         NaN
106      Oil & Gas Equipment & Services         NaN
107                                Gold         NaN
108                           Railroads         NaN
109      Security & Protection Services         NaN

[110 rows x 2 columns]

In [26]:
industry_roi_df.isnull().sum()

Industry     0
ROI         42
dtype: int64

In [28]:
# Create a testing function to run the LSTM learning model for each industry
def testing_model(df):
    # download the data
    y = df['Adj Close'].fillna(method='ffill')
    y = y.values.reshape(-1, 1)

    # scale the data
    scaler = MinMaxScaler(feature_range=(0, 1))
    scaler = scaler.fit(y)
    y = scaler.transform(y)

    # generate the input and output sequences
    n_lookback = 365  # length of input sequences (lookback period)
    n_forecast = 180  # length of output sequences (forecast period)

    X = []
    Y = []

    for i in range(n_lookback, len(y) - n_forecast + 1):
        X.append(y[i - n_lookback: i])
        Y.append(y[i: i + n_forecast])

    X = np.array(X)
    Y = np.array(Y)

    # fit the model
    model = Sequential()
    model.add(LSTM(units=50, return_sequences=True, input_shape=(n_lookback, 1)))
    model.add(LSTM(units=50))
    model.add(Dense(n_forecast))

    model.compile(loss='mean_squared_error', optimizer='adam')
    model.fit(X, Y, epochs=3, batch_size=32, verbose=0)

    # generate the forecasts
    X_ = y[- n_lookback:]  # last available input sequence
    X_ = X_.reshape(1, n_lookback, 1)

    Y_ = model.predict(X_).reshape(-1, 1)
    Y_ = scaler.inverse_transform(Y_)

    # organize the results in a data frame
    df_past = df[['Close']].reset_index()
    df_past.rename(columns={'index': 'Date', 'Close': 'Actual'}, inplace=True)
    df_past['Date'] = pd.to_datetime(df_past['Date'])
    df_past['Forecast'] = np.nan
    df_past['Forecast'].iloc[-1] = df_past['Actual'].iloc[-1]

    df_future = pd.DataFrame(columns=['Date', 'Actual', 'Forecast'])
    df_future['Date'] = pd.date_range(start=df_past['Date'].iloc[-1] + pd.Timedelta(days=1), periods=n_forecast)
    df_future['Forecast'] = Y_.flatten()
    df_future['Actual'] = np.nan

    results = df_past.append(df_future).set_index('Date')
    
    # Calculate rate of return on investment based on projected future stock price
    return_rate = (results['Forecast'][-1] - df['Adj Close'][-1]) / df['Adj Close'][-1]
    
    return return_rate

    # plot the results - optional
    results.plot(title='Industry Test', figsize=(16,8))

In [29]:
test_industry = industries[105]
# Isolate just 1 industry to attempt LSTM process
df = industry_data[industry_data.industry == test_industry]

# Rerun the learning_model on test df
testing_model(df)

ValueError: Unexpected result of `train_function` (Empty logs). Please use `Model.compile(..., run_eagerly=True)`, or `tf.config.run_functions_eagerly(True)` for more information of where went wrong, or file a issue/bug to `tf.keras`.