In [1]:
from config import db_password

In [2]:
import psycopg2
connection = psycopg2.connect(
    host = 'launch-it-1.cyo6pvehqvyz.us-east-1.rds.amazonaws.com',
    port = 5432,
    user = 'postgres',
    password = db_password,
    database='launch-it-1'
    )
cursor=connection.cursor()

In [4]:
# using pandas to execute SQL queries

import pandas as pd

sql = """
SELECT * FROM launchit  
"""
project_df = pd.read_sql(sql, con=connection)
project_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,TCKR,sector,industry,country,growth_rate,target_median_price,target_mean_price,target_high_price
0,2019-12-19,11.000,11.96,10.50,10.70,10.70,89400.0,INDO,Energy,Oil & Gas E&P,Indonesia,1.206,15.0,15.0,15.0
1,2019-12-20,10.808,12.49,9.25,9.65,9.65,503000.0,INDO,Energy,Oil & Gas E&P,Indonesia,1.206,15.0,15.0,15.0
2,2019-12-23,8.790,8.79,7.25,7.81,7.81,117400.0,INDO,Energy,Oil & Gas E&P,Indonesia,1.206,15.0,15.0,15.0
3,2019-12-24,7.500,7.64,6.00,6.41,6.41,102800.0,INDO,Energy,Oil & Gas E&P,Indonesia,1.206,15.0,15.0,15.0
4,2019-12-26,6.420,7.72,6.42,7.41,7.41,78400.0,INDO,Energy,Oil & Gas E&P,Indonesia,1.206,15.0,15.0,15.0

In [5]:
# List the column names
project_df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'TCKR',
       'sector', 'industry', 'country', 'growth_rate', 'target_median_price',
       'target_mean_price', 'target_high_price'],
      dtype='object')

In [6]:
# View the data types
project_df.dtypes

Date                   datetime64[ns]
Open                          float64
High                          float64
Low                           float64
Close                         float64
Adj Close                     float64
Volume                        float64
TCKR                           object
sector                         object
industry                       object
country                        object
growth_rate                   float64
target_median_price           float64
target_mean_price             float64
target_high_price             float64
dtype: object

In [7]:
# List and count all of the values in the Name column
project_df.TCKR.value_counts()

INTZ    7673
ALRS    4944
EVO     4722
ABST    3457
MEDS    2204
        ...
EE       143
ACON     137
TNON     134
HNVR     124
PFHC     121
Name: TCKR, Length: 547, dtype: int64

In [9]:
# Find null values
project_df.isnull().sum()

Date                   0
Open                   0
High                   0
Low                    0
Close                  0
Adj Close              0
Volume                 0
TCKR                   0
sector                 0
industry               0
country                0
growth_rate            0
target_median_price    0
target_mean_price      0
target_high_price      0
dtype: int64

In [10]:
# Find duplicate entries
project_df.duplicated().sum()

0